In [157]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [158]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

In [159]:
page = requests.get(url)

In [160]:
soup = BeautifulSoup(page.text,'html')

In [161]:
# print(soup.prettify())

In [162]:
table = soup.find_all('table', class_=['wikitable', 'sortable', 'jquery-tablesorter'])[0] #table extraction

In [163]:
# print(table.prettify())

In [164]:
headers = table.find_all('th') #header extraction

In [165]:
table_headers = [heading.text.strip() for heading in headers]

In [166]:
print(table_headers)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [167]:
df = pd.DataFrame(columns = table_headers)

In [168]:
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [169]:
data_rows = table.find_all('tr')

In [170]:
for row in data_rows:
    row_data = row.find_all('td')
    if row_data:
        individual_row = [data.text.strip() for data in row_data]
        length = len(df)
        df.loc[length] = individual_row

In [171]:
df.head()

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"648,125",6.0%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"574,785",11.9%,"1,525,000","Seattle, Washington"
2,3,Apple,Electronics industry,"383,482",-2.8%,"161,000","Cupertino, California"
3,4,UnitedHealth Group,Healthcare,"371,622",14.6%,"440,000","Minnetonka, Minnesota"
4,5,Berkshire Hathaway,Conglomerate,"364,482",20.7%,"396,500","Omaha, Nebraska"

In [172]:
df.tail()

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
95,96,TIAA,Financials,"45,735",11.8%,"16,023","New York City, New York"
96,97,CHS,Agriculture cooperative,"45,590",-4.6%,"10,609","Inver Grove Heights, Minnesota"
97,98,Bristol-Myers Squibb,Pharmaceutical industry,"45,006",-2.5%,"34,100","New York City, New York"
98,99,Dow Chemical Company,Chemical industry,"44,622",-21.6%,"35,900","Midland, Michigan"
99,100,Best Buy,Retail,"43,452",-6.1%,"85,000","Richfield, Minnesota"

In [173]:
df.isna().sum()

Rank                      0
Name                      0
Industry                  0
Revenue (USD millions)    0
Revenue growth            0
Employees                 0
Headquarters              0
dtype: int64

In [174]:
df.isnull().sum()

Rank                      0
Name                      0
Industry                  0
Revenue (USD millions)    0
Revenue growth            0
Employees                 0
Headquarters              0
dtype: int64

In [175]:
df.duplicated().sum()

0

In [176]:
df.shape

(100, 7)

In [177]:
df.dtypes

Rank                      object
Name                      object
Industry                  object
Revenue (USD millions)    object
Revenue growth            object
Employees                 object
Headquarters              object
dtype: object

In [178]:
df.columns = df.columns.str.replace(' ', '_')

In [179]:
df.head()

,Rank,Name,Industry,Revenue_(USD_millions),Revenue_growth,Employees,Headquarters
0,1,Walmart,Retail,"648,125",6.0%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"574,785",11.9%,"1,525,000","Seattle, Washington"
2,3,Apple,Electronics industry,"383,482",-2.8%,"161,000","Cupertino, California"
3,4,UnitedHealth Group,Healthcare,"371,622",14.6%,"440,000","Minnetonka, Minnesota"
4,5,Berkshire Hathaway,Conglomerate,"364,482",20.7%,"396,500","Omaha, Nebraska"

In [180]:
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x) #trimming

In [181]:
#data type conversion
df['Revenue_growth'] = df['Revenue_growth'].str.replace('%','').astype(float)
df['Revenue_(USD_millions)'] = df['Revenue_(USD_millions)'].str.replace(',','').astype(int)
df['Employees'] = df['Employees'].str.replace(',','').astype(int)
df['Rank'] = df['Rank'].astype(int)

In [154]:
df.dtypes

Rank                        int32
Name                       object
Industry                   object
Revenue_(USD_millions)      int32
Revenue_growth            float64
Employees                   int32
Headquarters               object
dtype: object

In [182]:
!git --version

git version 2.45.1.windows.1

In [183]:
!git status

On branch main
Your branch is up to date with 'origin/main'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   Web_Scraping_And_Analysis_US_Companies_Revenue.ipynb

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.ipynb_checkpoints/

no changes added to commit (use "git add" and/or "git commit -a")

In [184]:
!git add .

warning: in the working copy of 'Web_Scraping_And_Analysis_US_Companies_Revenue.ipynb', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of '.ipynb_checkpoints/Web_Scraping_And_Analysis_US_Companies_Revenue-checkpoint.ipynb', LF will be replaced by CRLF the next time Git touches it

In [ ]:
!git commit -am "Data cleai"