In [42]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

In [18]:
page = requests.get(url)

In [19]:
soup = BeautifulSoup(page.text,'html')

In [35]:
# print(soup.prettify())

In [37]:
table = soup.find_all('table', class_=['wikitable', 'sortable', 'jquery-tablesorter'])[0] #table extraction

In [1]:
# print(table.prettify())

In [39]:
headers = table.find_all('th') #header extraction

In [40]:
table_headers = [heading.text.strip() for heading in headers]

In [41]:
print(table_headers)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [44]:
df = pd.DataFrame(columns = table_headers)

In [45]:
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [48]:
data_rows = table.find_all('tr')

In [61]:
for row in data_rows:
    row_data = row.find_all('td')
    if row_data:
        individual_row = [data.text.strip() for data in row_data]
        length = len(df)
        df.loc[length] = individual_row

In [62]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"648,125",6.0%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"574,785",11.9%,"1,525,000","Seattle, Washington"
2,3,Apple,Electronics industry,"383,482",-2.8%,"161,000","Cupertino, California"
3,4,UnitedHealth Group,Healthcare,"371,622",14.6%,"440,000","Minnetonka, Minnesota"
4,5,Berkshire Hathaway,Conglomerate,"364,482",20.7%,"396,500","Omaha, Nebraska"
...,...,...,...,...,...,...,...
95,96,TIAA,Financials,"45,735",11.8%,"16,023","New York City, New York"
96,97,CHS,Agriculture cooperative,"45,590",-4.6%,"10,609","Inver Grove Heights, Minnesota"
97,98,Bristol-Myers Squibb,Pharmaceutical industry,"45,006",-2.5%,"34,100","New York City, New York"
98,99,Dow Chemical Company,Chemical industry,"44,622",-21.6%,"35,900","Midland, Michigan"
99,100,Best Buy,Retail,"43,452",-6.1%,"85,000","Richfield, Minnesota"